html {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(10, 16, 100);
}

.row {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.display-4 {
    font-size: 45px;
    max-width: 100px;
    font-family: "Montserrat Subrayada", sans-serif;
    text-shadow: -1px 1px 0 #000,
                            1px 1px 0 #000,
                            1px 1px 0 #000,
                            1px 1px 0 #000; 
    color: rgb(10, 16, 100);
    
}

/* .btn-color {
    color: rgb(10, 16, 100);
} */

.lead {
    font-family: "Raleway", sans-serif;
    font-size: 20px; 
    color: rgba(190, 99, 99, 0.801);
    font-weight: lighter;
    color: rgb(10, 16, 100);
}

#userBMI {
    color: rgb(115, 199, 224);
    font-weight: bold;
}

#userWeightClass {
    color: rgb(0, 205, 178);
    font-weight: bold;
}

#userWeight {
    color: #FF00FF;
    font-weight: bold;
}

#userHeight {
    color: rgb(26, 40, 233);
    font-weight: bold;
}