.row {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.jumbotron-background {
    background: url(images/bmi-gradient7.jpg);
    background-size: cover;
    background-position: center;
    max-width: 100%;
}
.display-4 {
    font-size: 65px;
    max-width: 100px;
    font-family: "Montserrat", sans-serif;
    text-shadow: -1px 1px 0 #000,
                            1px 1px 0 #000,
                            1px 1px 0 #000,
                            1px 1px 0 #000; 
    
}
.lead {
    font-family: "Sriracha", cursive;
    font-size: 20px; 
}

#userBMI {
    color: rgb(3, 139, 37);
}

#userWeightClass {
    color: #0000CD;
}

#userWeight {
    color: #FF00FF;
}

#userHeight {
    color: #FF4500;
}